<!DOCTYPE html>
<html>
<head>
  <meta charst = "utf-8" />
  <meta name = "description" content = "Apple">
  <meta name = "keywords" content = "Practice to build a website by imitation ">
  <meta name = "author" content = "Panda">
  <meta name = "viewport" contetnt = "width = device_width, initial-scale = 1.0">

  <title>Apple(台灣)</title>
</head>

<body>
  <nav>
    <dvi>
      <ul>
        <li>Aoole</li>
        <li>Mac</li>
        <li>iPad</li>
        <li>iPhone</li>
        <li>Watch</li>
        <li>TV</li>
        <li>Music</li>
        <li>支援服務</li>
        <li>搜尋</li>
        <li>購物車</li>
      </ul>
    </dvi>
  </nav>

  {% block content %}

  {% endblock %}

  <footer>
    <div>
      <nav>
        <div>
          <h3>選購與瞭解產品</h3>
          <ul>
            <li>Mac</li>
            <li>iPad</li>
            <li>iPhone</li>
            <li>Watch</li>
            <li>TV</li>
            <li>Music</li>
            <li>iTunes</li>
            <li>iPod Touch</li>
            <li>配件</li>
            <li>禮品卡</li>
          </ul>
        </div>

        <div>
          <h3>Apple Store</h3>
          <ul>
            <li>尋找直營店</li>
            <li>Genius Bar天才吧</li>
            <li>Today at Apple</li>
            <li>Apple夏令營</li>
            <li>Field Trip課外活動</li>
            <li>Apple Store App</li>
            <li>整修品與清倉品</li>
            <li>信用卡分期付款</li>
            <li>再利用與回收</li>
            <li>訂單狀態</li>
            <li>購物指南</li>
          </ul>
        </div>

        <div>
          <div>
            <h3>教育應用</h3>
            <ul>
              <li>Apple與教育</li>
              <li>為大專院校選購</li>
            </ul>
          </div>

          <div>
            <h3>商務應用</h3>
            <ul>
              <li>Apple與商務</li>
              <li>商務選購</li>
            </ul>
          </div>
        </div>

        <div>
          <div>
            <h3>帳戶</h3>
            <ul>
              <li>管理你的Apple ID</li>
              <li>Apple Store帳戶</li>
              <li>iCloud.com</li>
            </ul>
          </div>

          <div>
            <h3>Apple價值理念</h3>
            <ul>
              <li>輔助使用</li>
              <li>環境</li>
              <li>隱私權</li>
              <li>供應商責任</li>
            </ul>
          </div>
        </div>

        <div>
          <h3>關於Apple</h3>
          <ul>
            <li>News Room</li>
            <li>Apple領導團隊</li>
            <li>工作機會</li>
            <li>活動</li>
            <li>聯絡Apple</li>
          </ul>
        </div>
      </nav>

      <section>
        <div>
          更多選購方式:前往<a>Apple直營店</a>，致電0000-000-000，或<a>尋找經銷商</a>
        </div>

        <div>

        </div>

        <div>
          <div>
            CopyRight&#9400;2018 Apple Inc. 保留一切權利。
          </div>
          <div>
            <a>隱私權政策</a>
            <a>使用條款</a>
            <a>銷售及退款</a>
            <a>網站地圖</a>
          </div>
        </div>
      </section>
    </div>
  </footer>
</body>
</html>
