
<!DOCTYPE html>
<html>
<head>
  <meta charset = "UTF-8">
  <meta name = "description" content = "區塊鏈革命(The Book of BlockChainRevolution)">
  <meta name = "keywords" content = "Practice to build a website with the framework of Django">
  <meta name = "author" content = "Panda">
  <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
  <title>區塊鏈革命(BlockChainRevolution)</title>
  {% load staticfiles %}
  <link href = "{% static "css/style.css" %}" rel = "stylesheet" type = "text/css" />
</head>

<body>
  <nav class = "nav_menu">
    <ul>
      <li>
        <a href = "{% url 'index' %}"><img class = "nav_logo" src = "{% static "images/logo.png" %}" width="10%" height="10%"></a>
      </li>
      <li>
        <span>About</span>
      </li>
      <li>
        <span>Content</span>
      </li>
    </ul>

  </nav>
  <header>
    <h1>區塊鏈革命</h1>
    <p>
      比特幣技術如何影響<br>貨幣&#9;商業和世界運作
    </p>
  </header>

  <p>
    Blockchain<br>
    Revolution
  </p>

  <p>
    How the Technology Behind Bitcoin is<br>
    Changing Money, Business, and the World
  </p>

  <p>
    50大思想家之一&#160;&#160;&#160;&#160;&#171;維基經濟學&#187;作者
  </p>

  <p>
    唐&#160;&#160;泰普史考特&#160;&#160;Don&#160;Tapscott
  </p>

  <p>
    西北航道創投執行長
  </p>

  <p>
    亞力式&#160;&#160;泰普史考特&#160;&#160;Alex&#160;Tapscott｜著
  </p>

  <p>
    陳以禮&#160;&#160;&#160;&#160;李芳齡｜譯
  </p>

  <footer>
    <p>
      未來十年撼動全球的科技趨勢&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;數位經濟之父最新力作<br>
      &#171;富比士&#187;&#9;&#171;財星&#187;&#9;&#171;時代&#187;&#9;&#171;金融時報&#187;&#9;&#171;哈芬登郵報&#187;&#9;&#171;華爾街日報&#187;&#9;專文介紹
    </p>
  </footer>

</body>
</html>
